@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/* Styles for Navbar */
.navbar-brand{
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 5px 10px lightblue;
    letter-spacing: 5px;
}

.navbar-custom {
    padding: 2em 0;
    box-shadow: 0 15px #eee ; 
}

.icon-bar {
    background-color: red;
}

ul.nav a:hover {
    background-color: orange;
}



#wapp-btn{
    margin-left: 7px;
    background-color: green;
    border-radius: 8px;
    height: 30px;
    padding-bottom: 15px;
}

#wapp-btn a {
    color: white;
}

#fb-btn {
    display: inline;
    position: relative;
    top: 10px;
}

span.share-text {
    font-size: 0.75em;
    #padding-right: 1em;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: coral;
}
/*
div.fb-share-button {
    display: inline;
    position: relative;
    top: 2px;
    background-color: #3b5998;
    padding: 5px;
    border-radius: 8px;

}
div.fb-share-button a{
    color: white;
    font-size: 0.75em;
}
*/
/* Styles for Article */
.article p {
    margin: 2em 0;
}

.article {
    font-family: "Georgia","Times New Roman", serif;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
}

.article li {
    #margin: 2.5em 0;
}

.article-title {
    font-family: "Tangerine", cursive;
    font-size: 3em;
    text-align: center;
}

.article p span {
    font-weight: bold;
}

.fav-moment {
    margin: 2em 0;
}

.fav-moment h4:first-child{
    text-decoration: underline;
    font-weight: bold;
}

.a-lead {
    font-weight: bold;
    #font-style: italic;
}

.art-credentials {
    font-size: 0.75em;
}


.center-text {
    font-family: "Georgia","Times New Roman",serif;
    line-height: 1.5em;
    font-size: 1.5em;
    padding-bottom: 2em;
    box-shadow: 0 15px #eee;
}

h1 {
    font-family: "Cutive Mono", monospace;
    text-align: center;
    font-size: 2em;
}

.article-list {
    padding-top: 2em;
    font-size: 1.5em;
    list-style: none;
}



/* Styles for footer */

footer.page {
    width: 100%;
    margin-top: 3em;
    background: grey;
    text-align: center;
    padding: 1em 0;
    color: whitesmoke;
}

.article-list li a {
    line-height: 2em;
}